html {

    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);

}

body {

    margin: auto;
    width: 80%;
    background-color: burlywood;
   
    color: rgb(13, 13, 13);

}


h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

img {

    display: block;
    margin: auto;
    height: 150px;
    width: 150px;

}

h3 {
    display: inline-block;
    line-height: 2em;

}

.border {

height: 1em;
width: 50%;
 color: rgb(51, 61, 163);
}


.menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
}

.flavor {
    text-align: left;
    width: 49%
}


.price {
    text-align: right;
    width: 49%
}